@model IEnumerable<TTQK7.BaoCaoNgay>
@{    
    if (Model != null)
    {
        <table class="table table-hover">
            <tbody>
               
               @{TTQK7Entities db = new TTQK7Entities();
               }
                @foreach (var item in Model)
                {
                    string rowID = "BaoCaoID_" + item.BaoCaoID.ToString();
                    string ngayBaoCao = "Ngày " + item.NgayBaoCao.Value.ToString("dd/MM/yyyy");
                    string donvi = item.DonViID.ToString();
                    string tendonvi = db.tblDonVi.Where(x => x.DonViID == item.DonViID).Select(x => x.TenDonVi).FirstOrDefault();
                    <tr>
                        <td>
                            <span style="white-space: pre-line;font-style: italic ">@ngayBaoCao </span><br />
                            TB: @item.NguoiBaoCao <br />


                        </td>
                        <td style="width:20px">
                            @tendonvi
                        </td>
                        <td style="width:20px">
                            <a href="@Url.Action("Details", "CBaoCao", new { id=item.BaoCaoID })" class="btn btn-link">Xem</a>
                        </td>
                        @if (item.IsGui == true)
                        {
                            <td>
                                <a href="" class="btn btn-danger btn-xs" data-modal><i class="fa fa-check"></i></a>
                            </td>
                        }

                    </tr>
                }
            </tbody>
        </table>
    }
}
